* {
    font-family: Arial, Helvetica, sans-serif
}

body {
    color: rgb(86, 86, 86);
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
    line-height: 150%;
}

#navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    border-right: solid grey;
    height: 100%;
    line-height: 2.7rem;
    font-size: 1.25rem;
    width: 19rem;
}

#navbar-header {
    font-size: 1.8rem;
    margin: 1.25rem 0rem;
    text-align: center;
}

.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: solid thin black;
    font-size: 1rem;
}

#navbar a {
    color: rgb(86, 86, 86);
    text-decoration: none;
    margin-left: 2rem;
}

main {
    margin-left: 20rem;
    padding: 1rem 2rem;
}

header {
    font-size: 1.75rem;
    color: black;
    margin-top: 1.5rem;
}

.main-section header {
    margin-left: -1rem;
}

code {
    display: block;
    background-color: rgb(242, 242, 242);
    padding: 1.25rem 1rem;
    border-radius: 5px;
    margin-left: 0.5rem;
    line-height: 1.5rem;
    white-space: pre-line;
    font-size: 0.85rem;
    letter-spacing: 0.1rem;
}